
.translation {
  margin-top: -20px;
  font-size: 14px;
  color: $grey-dark;
}

.post {
  background: rgba(#FFF, 0.7);
  padding: 30px;
  border-radius: 5px;
}

.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
