$body-bg = url(/images/texture-yellow-icons.png) repeat
$brand-color = #999
$font-family-base = "PingFang SC", "Lantinghei SC", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans
$font-family-headings = $font-family-base